.dark .shiki,
.dark .shiki span {
  color: var(--s-dark, inherit);
  --twoslash-popup-bg: #191919;
  --twoslash-border-color: #8884;
}
.dark .shiki {
  background-color: #0e0e0e;
}

html:not(.dark) .shiki {
  background-color: #fafafa;
}

html:not(.dark) .shiki,
html:not(.dark) .shiki span {
  color: var(--s-light, inherit);
  --twoslash-popup-bg: #fafafa;
}

.twoslash ul {
  font-size: 1em !important;
}

.twoslash ul > li::before {
  display: none;
}

.twoslash ul > li {
  padding: 1px;
  margin: 0;
}

.twoslash-query-presisted .twoslash-popup-info {
  transform: translate(0, 1.6em);
}

/* Prose */
.prose pre:not(.shiki) {
  padding: 0;
  margin: 0;
  background: transparent;
}

.prose .shiki {
  width: 100%;
  font-family: 'DM Mono', 'Input Mono', 'Fira Code', monospace;
  font-size: 0.92em;
  line-height: 1.4;
  margin: 0.5em 0;
}

.prose img {
  width: 100%;
}

.prose p > img {
  width: 100%;
  --uno: shadow rounded-lg;
  /* transform: scale(1.05); */
  margin: 2.6em 0;
}

.prose {
  --fg-light: #888;
  --fg: #555;
  --fg-deep: #222;
  --fg-deeper: #000;

  color: var(--fg);
}

.prose a {
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(125, 125, 125, 0.3);
  transition: border 0.3s ease-in-out;
}

.prose a:hover {
  border-bottom: 1px solid var(--fg);
}

.prose a code {
  color: inherit;
}

.prose hr {
  width: 100%;
  margin: 2em auto;
}

html.dark .prose {
  --fg-light: #888;
  --fg: #bbb;
  --fg-deep: #ddd;
  --fg-deeper: #fff;
}

a.item {
  transition: 0.2s all ease-out;
  text-decoration: none;
  border-bottom: none !important;
  opacity: 0.6;
}

a.item:hover {
  opacity: 1;
}

a.header-anchor {
  float: left;
  margin-top: 0.125em;
  margin-left: -1.2em;
  padding-right: 0.5em;
  font-size: 0.85em;
  opacity: 0;
  text-decoration: none;
  border: 0 !important;
}

a.header-anchor:hover,
a.header-anchor:focus {
  text-decoration: none;
}

h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 0.5;
}

.prose blockquote {
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  padding: 0.5em 1em;
  margin-left: -1.1em;
}

.prose blockquote > * {
  opacity: 0.7;
}

.prose blockquote > :first-child {
  margin-top: 0;
}

.prose blockquote > :last-child {
  margin-bottom: 0;
}

.prose blockquote p:first-of-type::before {
  content: none;
}

.prose blockquote p:first-of-type::after {
  content: none;
}

.prose s {
  opacity: 0.5;
}

.prose em {
  --uno: font-serif;
  color: var(--fg-deep);
  font-size: 1.05em;
}

.table-of-contents {
  position: fixed;
  top: 90px;
  font-size: 0.8em;
  left: 20px;
  z-index: 200;
  overflow: hidden;
  --uno: hidden lg-flex flex-col w-100px lg-w-200px xl-w-300px;
}

.table-of-contents-anchor {
  --uno: 'mx2 w-7 h-7 text-lg flex items-center justify-center bg-base rounded text-hex-8887 border border-base shadow md:border-transparent md:shadow-none transition duration-400';
}

.table-of-contents > ul {
  text-overflow: ellipsis;
  height: 100%;
  overflow-y: auto;
  --uno: rounded op0 mt-1 pb-5 transition duration-700;
}

*:hover > .table-of-contents > .table-of-contents-anchor,
.toc-always-on .table-of-contents > .table-of-contents-anchor {
  --uno: text-inherit;
}

.toc-always-on .table-of-contents > ul {
  opacity: 0.6;
}

*:hover > .table-of-contents > ul {
  opacity: 0.75;
}

.table-of-contents ul > li::before {
  display: none;
}

.table-of-contents ul > li {
  padding-left: 0.8rem;
  line-height: 1.5em;
  margin-top: 0.5em;
}

.table-of-contents ul > li > a {
  --uno: op75 hover-op100 transition;
}

.code-wrap .line {
  white-space: break-spaces;
}

.markdown-magic-link {
  display: inline-flex;
  align-items: center;
  background: #8882;
  transform: translateY(3px);
  line-height: 100%;
  color: var(--fg-light) !important;
  --uno: gap-1 transition rounded px1.5 py1 important-border-0 font-condensed;
}

.markdown-magic-link:hover {
  background: #8883;
  color: var(--fg) !important;
}

.markdown-magic-link-image {
  display: inline-block;
  height: 1.1em;
  width: 1.1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}

.markdown-magic-link.markdown-magic-link-github-at {
  transform: translateY(6px);
  --uno: pl-0 py-0 pr2 text-sm gap-1.2 rounded-full;
}

.markdown-magic-link.markdown-magic-link-github-at .markdown-magic-link-image {
  height: 1.6em;
  width: 1.6em;
  border-radius: 50%;
}

/* 覆盖样式： */
.table-of-contents {
  position: fixed;
  top: 90px;
  font-size: .8em;
  left: 40px;
  z-index: 200;
  overflow: hidden;
  display: none;
  width: 200px;
  flex-direction: column;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .table-of-contents {
    width:200px;
  }
}

@media (min-width: 1280px) {
  .table-of-contents {
    width:300px;
    display: none;
  }
}

.table-of-contents::before {
  content: "☰";
  font-size: 1.2rem;
  display: block;
  color: rgba(125, 125, 125, .5);
  font-weight: 800;
}

/* .table-of-contents > ul {
  display: none;
} */

.table-of-contents:hover::before {
  color: var(--vp-c-text-1);
}

.table-of-contents:hover > ul{
  display: block;
}

.table-of-contents a {
  color: rgba(125, 125, 125, .5);
  text-decoration-color: rgba(125, 125, 125, .5);
}

.table-of-contents li {
  list-style-type: none;
}

.table-of-contents a:hover {
  color: rgba(125, 125, 125, 1) !important;
  text-decoration-color: rgba(125, 125, 125, 1);
}


/* 代码块样式 */

.prose div[class*=language-] {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 12px;
  border: 1px solid var( --my-p-bg);
  padding-top: 36px;
  margin: 1rem 0;
  overflow: hidden
}

.prose div[class*=language-] .copy,.prose div[class*=language-] .lang {
  position: absolute
}

.prose div[class*=language-] .lang {
  width: 100%;
  height: 36px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--my-p-bg);
  padding-left: 16px;
  font-weight: 700;
  font-size: 18px
}


.prose div[class*=language-] .copy {
  top: 0;
  right: 16px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-family: iconfont;
  font-style: normal;
  z-index: 1;
  cursor: pointer;
}

.prose div[class*=language-] .copy:after {
  content: "复制";
  transition: color .3s;
  font-size: 14px;
}

.prose div[class*=language-] .copy:before {
  content: "复制成功";
  position: absolute;
  left: -60px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  transform: translate(5px);
  transition: color .3s,opacity .3s,transform .3s
}

.prose div[class*=language-] .copy.copied:before {
  opacity: 1;
  transform: translate(0)
}

/* lineNumber */
.line-numbers-wrapper {
  font-family: 'DM Mono', 'Input Mono', 'Fira Code', monospace;
  line-height: 1.4;
  font-size: 0.92em;
  padding-top: 1.3571429em;
  padding-right: 1em;
  padding-bottom: 1.3571429em;
  padding-left: 1em;
  opacity: .6;
  text-align: center;
  border-right: 1px solid var(--my-p-bg);
}

/* 警报样式 */

.dark * {
  --color-note-bg: 47, 129, 247;
  --color-tip-bg: 63, 185, 80;
  --color-warning-bg: 210, 153, 34;
  --color-severe-bg: 219, 109, 40;
  --color-caution-bg: 248, 81, 73;
  --color-important-bg: 163, 113, 247;
}

:root {
  --color-note-bg: 9, 105, 218;
  --color-tip-bg: 26, 127, 55;
  --color-warning-bg: 154, 103, 0;
  --color-severe-bg: 188, 76, 0;
  --color-caution-bg: 209, 36, 47;
  --color-important-bg: 130, 80, 223;
}

.markdown-alert.markdown-alert-note {
  background-color: rgba(var(--color-note-bg), 0.1);
}

.markdown-alert.markdown-alert-tip {
  background-color: rgba(var(--color-tip-bg), 0.1);
}

.markdown-alert.markdown-alert-warning {
  background-color: rgba(var(--color-warning-bg), 0.1);
}

.markdown-alert.markdown-alert-severe {
  background-color: rgba(var(--color-severe-bg), 0.1);
}

.markdown-alert.markdown-alert-caution {
  background-color: rgba(var(--color-caution-bg), 0.1);
}

.markdown-alert.markdown-alert-important {
  background-color: rgba(var(--color-important-bg), 0.1);
}


/* code样式 */

.prose :not(pre)>code {
  border-radius: 4px;
  padding: 3px 6px;
  background-color: var(--my-p-bg);
  transition: color .25s, background-color .5s;
}

.prose code::before {
  content: '';
}

.prose code::after {
  content: '';
}

/* 容器样式  */
.custom-block {
  margin: 16px 0;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 16px 16px 8px;
  line-height: 24px;
}

.custom-block.details{
  background-color: var(--c-bg);
}

.custom-block.details summary {
  margin: 0 0 8px;
  font-weight: 700;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.custom-block.danger {
  background-color: rgba(var(--color-caution-bg), 0.1)
}

.custom-block p:first-child {
  margin: 0;
}

.custom-block p{
  margin: 8px 0;
  line-height: 24px;
}

.custom-block.warning {
  background-color: rgba(var(--color-warning-bg), 0.1)
}

.custom-block.tip {
  background-color: rgba(var(--color-tip-bg), 0.1)
}

.custom-block.info {
  background-color: rgba(var(--color-note-bg), 0.1)
}

/* 代码块 */

.code-group {
  margin: 20px 0;
}

.tabs input[type="radio"] {
  display: none; /* 隐藏实际的 radio 按钮 */
}

.tabs {
  height: 36px;
  position: absolute;
  z-index: 2;
  line-height: 36px;
  border-bottom: 1px solid var(--my-p-bg);
  width: 100%;
}

.tabs label {
  cursor: pointer;
  padding-left: 32px;
  font-weight: 700;
  font-size: 18px;
}

.tabs input[type="radio"]:checked + label {
  color: var(--my-p-bg);
}

.blocks div[class*=language-] {
  display: none;
}

div[class*=language-].active, .blocks.active {
  display: flex;
}

.code-group div[class*=language-] {
  margin: 0;
}

.code-group .blocks div[class*=language-] .lang {
  display: none;
}